a[target] {
	color: red;
}
a[href^="https://www.google.com"] {
	color: green;
}
#first-div > p::after {
	content:" - NEW";
	color: yellow;
	font-style: italic;
}
#second-div p:nth-child(even) {
	color: red;
}
#second-div p:nth-child(odd) {
	color: blue;  
}
body > p:last-child:hover {
	font-style: italic;
}
